*.pyc
*.log
code/log/
code/log_tensorboard/
code/saved/
**model_*
**jsonl
dataset/*
**dataset
information/
outputs/
wandb/
TinyLlama-1.1B-intermediate-step-1431k-3T/
electronics/
code/saved_100_percent_pixel200k_batchsize_16/
code/saved_batchsize_16/
.venv_hf/
.venv_train/
gemma-3-1b-pt/
